<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connecteach">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MessageActivity"></activity>
        <activity android:name=".activities.NotificationsActivity" />
        <activity android:name=".activities.ConnectionsActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>